body {
  background-color: white;
  margin: 0 auto;
  padding: 0;
}

.header-container {
  background-color: rgb(28, 4, 48);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 18px;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

body {
  font-family: "Lato", sans-serif;
}

.header li,
.header1 li {
  text-decoration: none !important;
  display: inline;
  line-height: 1em;
  word-spacing: 5px;
  margin: 0 15px;
  font-weight: bold;
}

.main-head {
  font-size: 32px;
  font-style: initial;
  color: darkorange;
  letter-spacing: 3px;
}

.main-container {
  width: 68%;
  margin: 0 auto;
}

.conatin-data {
  background-image: url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/bcT8CaBIj086WVD7K529h78eujb.jpg");
  height: 400px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* position: relative; */
  padding: 0 30px;
}

.conatin-data .head1 {
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 30px;
}

.head1,
.bold-wel {
  font-size: 40px;
}

.serch-icon {
  display: flex;
}

.serch-icon label {
  width: 100%;
}

.serch-icon input[type="text"] {
  width: 100%;
  font-size: 1.1em;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 0 auto;
}

.serch-icon input[type="submit"] {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 10px 26px;
  border: none;
  background-color: rgb(12, 77, 12);
  border-radius: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 1em;
}

/* column css start */

.column1 {
  padding: 30px 0;
}

.trend-container {
  display: flex;
  align-items: center;
  align-content: center;
}

.trend-head1,
.trend-head2 {
  margin: 0 10px;
  font-weight: bold;
}

.trend-head1 {
  font-size: 25px;
  font-family: "Playfair Display", serif;
}

.anchor-select {
  display: flex;
}

.trend-head2 {
  display: block;
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px 15px;
  color: darkgreen;
}

.trend-head2:hover {
  background-color: rgb(43, 40, 40);
  color: #fff;
  cursor: pointer;
}

/* trading-movie CSS */

#trending-movie,
#popular,
#upcoming,
#castData {
  display: flex;
  flex-direction: row;
  gap: 14px;
  min-width: 100%;
  border-radius: 15px;
  background: url("./img/bg-trand-movie.svg");
  background-position: initial;
  overflow-x: auto;
  height: 340px;
  background-repeat: no-repeat;
  box-shadow: 7px 1px 16px 2px;
  padding: 4px 0 12px 0;
}

#trending-movie,
.movies-list,
#popular,
.movies-list,
#upcoming,
.movies-list,
#castData .movies-list {
  box-shadow: 30px 27px 81px -22px;
  border-radius: 17px 17px 0 0;
}

.movies-list a {
  /* margin-top: 25px; */
  font-size: 13px;
  text-decoration: none;
  color: #000;
  font-family: "Playfair Display", serif;
  font-weight: 800;
}

.movies-list img,
.image-cast img {
  width: 150px;
  height: 225px;
  border-radius: 15px;
}

.whole-div {
  position: relative;
  width: 80%;
  margin-left: 10px;
}

.movie-rating {
  position: absolute;
  top: -36px;
  left: -11px;
  background-color: #081c22;
  color: white;
  border-radius: 50%;
  padding: 5px 5px;
  font-size: 14px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border: 2px solid greenyellow;
  vertical-align: center;
}

.user-rating {
  background-color: #081c22;
  color: white;
  border-radius: 50%;
  padding: 7px 8px;
  font-size: 14px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border: 2px solid greenyellow;
  vertical-align: center;
}

.percent-data {
  font-size: 7px;
  position: absolute;
  top: 7px;
  font-weight: 900;
}

.percent-data1 {
  font-size: 10px;
  font-weight: 900;
}

#trending-movie::-webkit-scrollbar,
#popular::-webkit-scrollbar,
#upcoming::-webkit-scrollbar,
#castData::-webkit-scrollbar {
  height: 7px;
  border-radius: 20px;
}

#trending-movie::-webkit-scrollbar-track,
#popular::-webkit-scrollbar-track,
#upcoming::-webkit-scrollbar-track,
#castData::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

#trending-movie::-webkit-scrollbar-thumb,
#popular::-webkit-scrollbar-thumb,
#upcoming::-webkit-scrollbar-thumb,
#castData::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
}

.movie-date {
  color: #7a7777;
  font-family: "Lato", sans-serif;
  font-size: 12px !important;
}

/* details Movie CSS */

.container-details,
#castData {
  display: flex;
  max-width: 70%;
  margin: 0 auto;
}

.contain-three {
  display: flex;
  margin-bottom: 15px;
  margin-top: 5px;
}

.contain-three strong {
  margin: 0 10px;
}

.contain-two {
  display: flex;
  margin-bottom: 10px;
}

.tagline {
  font-style: italic;
  margin-bottom: 15px;
}

.coloum-details {
  /* background-image: url("https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/2I5eBh98Q4aPq8WdQrHdTC8ARhY.jpg"); */
  background-color: rgb(57, 55, 55);
  background-position: right;
  color: rgb(223, 235, 239);
  font-weight: bold;
  font-size: 16px;
  padding: 30px 50px 0px;
  word-spacing: 3px;
  height: 420px;
  overflow: auto;
}

#castData {
  min-width: 70%;
  margin-top: 10px;
  padding: 2px;
}

#castData,
.updateDataCast {
  box-shadow: 27px 78px 172px -4px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.image-contain img {
  width: 300px;
  height: 450px;
}

.name-cast {
  font-weight: bold;
  font-size: 14px;
  margin: 5px 0;
  text-align: center;
}
.character {
  font-size: 14px;
  text-align: center;
}

.title-contain {
  font-size: 35px;
}

.play-trailor {
  margin-left: 20px;
}

/* search movies and serials CSS */

.search-container {
  display: flex;
  padding: 15px;
  margin: 10px 0;
  box-shadow: 3px 10px 21px -5px;
  min-width: 100%;
  border-radius: 12px;
}

.collection {
  padding: 10px 15px;
  width: 70%;
}

.search-title {
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  color: #000;
}
.search-date {
  color: grey;
  font-size: 13px;
  margin-top: 5px;
}

.search-overview {
  font-size: 15px;
  margin-top: 3px;
}

.search-image img {
  border-radius: 12px;
  width: 94px;
  height: 141px;
}

#yt {
  display: none;
}

p {
  color: black;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
}
button {
  width: 90px;
  height: 22px;
  margin: 8px 23px 20px;
  font-size: 13px;
  font-weight: 800;
  border-radius: 10px;
  background-color: black;
  color: white;
}

#search-result {
  display: flex;
  justify-content: center;
}

.whole-container-searchList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.search-sortList {
  width: 20%;
}

.search-data {
  box-shadow: 1px 1px 13px 0px;
  width: 50%;
  padding: 15px;
  border-radius: 10px;
}

.search-data div {
  padding: 5px;
  cursor: pointer;
}

.header-search {
  box-shadow: 1px 1px 13px 0px;
  width: 57.5%;
  text-align: center;
  font-size: 30px;
  background-color: #01b4e4;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}

.select-search,
.select-search div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 10px;
}

.select-search {
  border-bottom: 2px solid black;
  background-color: white;
  margin-top: 5px;
}

.select-search-active {
  border-bottom: 2px solid black;
  color: red;
  /* border-radius: 10px; */
  margin-top: 5px;
}
